body {
    font-family: Calibri;
}

header {
    background: #151515;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    width: 7%;
    height: auto;
}


h1 {
    font-weight: bold;
    color: #757474;
    font-size: 100px;
    text-align: center;
}

h2 {
    font-weight: bold;
    color: #757474;
    font-size: 72px;
    text-align: center;
}

#header-wrapper {
    width: 1200px;
    margin: 0 auto;
}

#page-wrapper {
    width: 1200px;
    margin: 0 auto;
}

#buttom-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.footer-buttons {
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    background: #2196F3;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
}

.footer-buttons:hover {
    color:#DDDDDD;
    border-color:#DDDDDD;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th {
    background-color: #2196F3;
}
td, th {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 4px;
}

.btn-delete {
    background-color: red;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 100%;
}

.btn-update {
    background-color: green;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
}

/* SEARCH BAR */

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #535353;
    float: left;
    width: 40%;
    background: #f1f1f1;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 15%;
    padding: 10px;
    background: #2196F3;
    color: #e05555;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 4px;
}

.search-box {
    position: absolute;
    top: 12.5%;
    left: 15%;
    transform: translate(0, -100%);
    background: #2f3640;
    height: 60px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    background: white;
}

.search-btn {
    color: #ac2323;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #eeecec;
    font-size: 16px;
    transition: 0.4s;
    line-height: 50px;
    width: 0px;
}

